*{
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100vw;
    height: 19vh;
    display: flex;
}
.nav{
    width: 35vw;
    height: 10vh;
    margin-top: 30px;
    display: flex;
}
.logo{
    width: 250px;
    height: 120px;
    margin-left: 65px;
}
.logo img{
    margin-top: 20px;
}
.list{
    display: flex;
}
.list1{
    margin-left: 11px;
    margin-top: 20px;
    font-size: 15px;
    font-family: fantasy;
    list-style: none;
}
.list1 a{
    text-decoration: none;
    color: black;
}
.list1 a:hover{
    color: red;
}
.f1{
    width: 50vw;
    height: 26vh;
    margin-top: 70px;
    margin-left: 150px;
}
.p1{
    font-size: 50px;
    font-family: sans-serif;
    text-align: center;
    color: black;
    margin-top: 34px;
}
.h1{
    color: black;
}
.h2{
    margin-top: 33px;
    color: black;
}
.f2{
    width:50vw;
    height: 40vh;
    margin-left: 150px;
}
.p2{
    font-size: 20px;
    color: grey;
    font-family: sans-serif;
    font-weight: bold;
}
.p3 span{
   font-size: 18px;
   font-family: sans-serif;
   font-weight: bold;
}
.p3{
    font-size: 18px;
    color: grey;
    font-family: sans-serif;
    padding-top: 14px;
    word-spacing: 2px;
}
.p3 a{
    color: aqua;
}
#formcontrol{
    margin-top: 130px;
    margin-left: 370px;
}
#name{
    padding-left: 12px;
    font-size: 16px;
    font-family: sans-serif;
    width: 230px;
    height: 50px;
}
#email{
    padding-left: 12px;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 5px;
    width: 230px;
    height: 50px;
}
#btn1{
    margin-left: 5px;
    font-size: 18px;
    font-family: fantasy;
    border: 3px solid black;
    width: 120px;
    height: 55px;
}
#btn1:hover{
    background-color: black;
    color: white;
    transition: 0.75s;
}
.para4{
    margin-left: 500px;
    margin-top: 12px;
    color: grey;
    font-family: sans-serif;
}
.para4 strong{
    color: black;
}
#id9{
    width: 230px;
    height: 50px;
    display: flex;
    margin-left: 550px;
    margin-top: 50px;
}
.btn1{
    width: 40px;
    height: 40px;
    background-color: white;
    margin-left: 12px;
}
#id10{
    width: 900px;
    height: 30px;
    margin-top: 40px;
    margin-left: 305px;
}
.list2{
    list-style: none;
    font-family: sans-serif;
    margin-left: 12px;
}
#id10 ul{
    display: flex;
}
#id11{
    width: 400px;
    height: 40px;
    margin-top: 69px;
    margin-left: 516px;
    font-family: fantasy;
    font-size: 20px;
    color: grey;
}
